:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  --main-background: #d6dbdc;
  --main-color: #333;
  --main-hover: #ccc;
  --main-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --main-border: 1px solid #ccc;

  --secondary-background: #333;
  --secondary-color: #fff;
  --secondary-hover: #ccc;
  --secondary-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --secondary-border: 1px solid #ccc;

  --links-color: #128acd;

  --main-transition: all 0.3s ease;
  --main-color-transition: color 0.3s ease;
  --main-background-transition: background 0.3s ease;
  --main-max-width: 900px;
  --main-border-radius: 8px;
}

@counter-style checkbox-emoji {
  system: cyclic;
  symbols: "✅";
  suffix: " ";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --main-color: #fff;
    --main-hover: #ccc;

    --secondary-background: #fff;
    --secondary-color: #333;
    --secondary-hover: #ccc;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: var(--links-color);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0.5rem 0;
}

div.container {
  width: 100%;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}