.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 900px;
    flex-grow: 1;
    align-self: center;
    width: 100%;
    justify-content: center;
}